repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: end-of-file-fixer

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/PyCQA/bandit
    rev: '1.7.5'
    hooks:
      - id: bandit
        args: [ -ll ]

  - repo: local
    hooks:
    - id: ruff-format
      name: ruff format
      description: "Run 'ruff format' for extremely fast Python formatting"
      entry: ruff format --force-exclude
      language: python
      types_or: [python, pyi, jupyter]
    - id: ruff-check
      name: ruff check
      description: "Run 'ruff check' for extremely fast Python linting"
      entry: ruff check --force-exclude
      language: python
      types_or: [ python, pyi, jupyter ]
